@font-face {
    font-family: 'meyrin';
    font-weight: normal;
    src: url('meyrin.woff') format('woff');
}
@font-face {
    font-family: 'lunchtype22';
    font-weight: normal;
    src: url('lunchtype22-regular-webfont.woff') format('woff');
}

body {
  padding: 0.5em
}
body{max-width: 30%}
body {
  font-family: lunchtype22;
  color: black;

}
body a{
  color: #aaff00;
  text-decoration-color:#aaff00;
}
body ::selection{
  background-color: #aaff00
  color: black
}
header{
  font-family: meyrin;
  color: black;
  font-size: 2em
}
header{ font-weight: normal;}
