@font-face {
    font-family: 'meyrin';
    font-weight: normal;
    src: url('meyrin.woff') format('woff');
}
@font-face {
    font-family: 'lunchtype22';
    font-weight: normal;
    src: url('lunchtype22-regular-webfont.woff') format('woff');
}

body {
  padding: 0.5em
}
body{max-width: 30%}
body {
  font-family: lunchtype22;
  color: black;

}
body a{
  color: #3c3c7e;
  text-decoration-color: #3c3c7e;
}
body a:hover{
  color: grey;
  text-decoration-color:grey;
}
body ::selection{
  background-color: #3c3c7e;
  color: white;
}
header{
  font-family: meyrin;
  color: black;
  font-size: 2em
}
header{ font-weight: normal;}
* {box-sizing:border-box}
